.demo-inline-calendar-card {
    width: 300px;
  }

.mat-sidenav-container{
    width: 400px;
    height: 200px;
    margin: 12px;
  }
  
  .mat-sidenav-content{
    padding: 12px;
    align-items: flex-start;
  }