<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
      <h1>Bienvenido</h1>
      <ion-label position="floating">Nombre usuario</ion-label>
      <ion-input [(ngModel)]="usuario.nombreUsuario" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label type="Password" position="floating">Password</ion-label>
      <ion-input id="password" type="Password" minlength="3" maxlength="8"></ion-input>
    </ion-item> 
    <ion-button [routerLink]="['/home',usuario.nombreUsuario]" (click)="mostrar()" expand="block">Inicio Sesion</ion-button>
    <br>
    <center><a [routerLink]="">Crea una cuenta gratis</a></center>
</ion-content>
