<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


      <h1 style="text-align: center;">Bienvenido</h1>
      <br>
      <ion-label position="fixed" style="margin-left: 10px;">Usuario : {{usuario.nombreUsuario}}</ion-label>
      <br>
      <h3 style="text-align: center;">Informacion Adicional</h3>
      <ion-item>
        <ion-label position="fixed">Nombre</ion-label>
        <ion-input [(ngModel)]="usuario.nombre" id="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Apellido</ion-label>
        <ion-input [(ngModel)]="usuario.apellido" id="apellido"></ion-input>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-select [(ngModel)]="usuario.nivelEducacion" placeholder="Seleccione nivel de estudio">
            <ion-select-option value="1">Basico</ion-select-option>
            <ion-select-option value="2">Media</ion-select-option>
            <ion-select-option value="3">Tecnico</ion-select-option>
            <ion-select-option value="4">Ingenieria</ion-select-option>


          </ion-select>
        </ion-item>
      </ion-list>

      <ion-item>
        <ion-label position="fixed">Fecha nacimiento</ion-label>
        <ion-input type="date" id="nombre"></ion-input>
      </ion-item>
      <br>

      <center>
        <ion-button (click)="presentAlert()" color="success">Mostrar</ion-button>
      <ion-button color="warning" (click) ="limpiar()" >Limpiar</ion-button>
      </center>




</ion-content>
